[Unit]
Description=Scheduled ansible-pull %i

[Timer]
OnCalendar={{ ANSIBLE_PULL_MAINTENANCE_TIMER }}
RandomizedDelaySec={{ ANSIBLE_PULL_MAINTENANCE_RANDOMIZED_DELAY_SEC }}
Persistent=true
Unit=ansible-pull@%i.service

[Install]
WantedBy=timers.target
