[Unit]
Documentation=man:ddclient(8)
Description=DDClient ({{ dd_file }})
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/run/ddclient-{{ dd_file | basename | replace('.conf', '') }}.pid
Environment=daemon_interval=5m
ExecStart=/usr/bin/ddclient -daemon $daemon_interval -syslog -file {{ dd_file }} -pid /run/ddclient-{{ dd_file | basename | replace('.conf', '') }}.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target