# Common settings
ssl=yes
daemon=5m

{{ DD_USE }}
protocol=cloudflare, \
zone={{ DDCLIENT_ZONE }}, \
ttl=1, \
login={{ DDCLIENT_EMAIL }}, \
password={{ DDCLIENT_CF_GLOBAL_TOKEN }} \
{{ DD_HOSTNAME }}.{{ DDCLIENT_ZONE }}