# Common settings
ssl=yes
daemon=5m

{{ DD_USE }}
protocol=cloudflare, \
zone={{ lookup('bitwarden.secrets.lookup', DDCLIENT_ZONE) }}, \
ttl=1, \
login={{ lookup('bitwarden.secrets.lookup', DDCLIENT_EMAIL) }}, \
password={{ lookup('bitwarden.secrets.lookup', DDCLIENT_CF_GLOBAL_TOKEN) }} \
{{ DD_HOSTNAME }}.{{ lookup('bitwarden.secrets.lookup', DDCLIENT_ZONE) }}