[Unit]
Documentation=man:ddclient(8)
Description=DDClient ({{ DD_FILE }})
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/run/ddclient-{{ DD_FILE | basename | replace('.conf', '') }}.pid
Environment=daemon_interval=5m
ExecStart=/usr/bin/ddclient -daemon $daemon_interval -syslog -file {{ DD_FILE }} -pid /run/ddclient-{{ DD_FILE | basename | replace('.conf', '') }}.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target