<dict>
  <key>organization</key>
  <string>meyerstk</string>
  <key>auth_client_id</key>
  <string>{{ lookup('bitwarden.secrets.lookup', WARP_ID) }} </string>
  <key>auth_client_secret</key>
  <string>{{ lookup('bitwarden.secrets.lookup', WARP_SECRET) }}</string>
  <key>display_name</key>
  <string>{{ ansible_facts["hostname"] }}</string>
  <key>onboarding</key>
  <boolean>false</boolean>
</dict>