[defaults]
inventory = ../iac-inventory/
roles_path = ./roles
timeout = 20
forks = 10
host_key_checking = False
vault_password_file = ~/.ansible-vault-pass
private_key_file = ~/.ssh/ansible
inject_facts_as_vars = True

[ssh_connection]
retries=3
pipelining=True

[persistent_connection]
command_timeout = 30